h1 {
    font-size: 80px;
}

p {
    font-size: 20px;
}

.orange {
    color: orange;
}

.fexi-con {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 50%;
}

.link-button {
    text-decoration: none;
    background-color: #b5281e;
    color: white;
    font-weight: 500px;
    padding: 10px 20px;
    border-radius: 5%;


}

.small-top {
    margin-bottom: 30%;
}

h2 {
    font-size: 50px;
    text-align: center;

}

.mission-vission-goals {
    box-shadow: 10px 10px 30px white;
    width: 30%;
    margin-right: 10px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

#mission {
    background-color: rgb(188, 186, 186);
    padding: 10px 10px;
}

#vission {
    background-color: rgb(188, 147, 133);
    padding: 10px 10px;
}

#goal {
    background-color: rgb(223, 198, 164);
    padding: 10px 10px;
}

.top-banner {
    background-image: url(pic/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    padding: 50px;
}

.dev-without {
    width: 50%;
}

.dev-without img {
    width: 70%;
}